{% extends 'base.html' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/script.js') }}"></script>
{% endblock %}

{% block title %} DLIM search {% endblock %}

{% block content %}
    <div class="search-container">
        <form method="POST" action="/gallery" enctype="multipart/form-data">
            <input type="file" name="file">
            <br><input type="text" placeholder="Text search" name="text"><br>
            <input type="number" placeholder="Max results" name="maxRes"><button type="submit">Search</button>
        </form>
    </div>

    <div class="overlay"><img id="top" hidden=True>
        <span id="close" hidden=True onclick="do_close()"><b><u>CLOSE(X)</u></b></span>
    </div>

    <div class="cx">
        {% for path in paths %}
        <img src="{{ path }}" height=200 width=200 onclick="clicked_img(this)" >
        {% endfor %}
    </div>
{% endblock %}