body {
    background: #36393e;
    font-family: "Fira Sans Light", sans-serif;
    color: #fafcff;
}

nav {
    background: #282b30;
}

div {
    margin: 10px;
}
  
* {
    box-sizing: border-box;
}
  
.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
#top {
    border-radius: 10px 20px;
    border: 5px solid #424549;
}
  
#close {
    background: #36393e;
    font-family: "Fira Code Light", monospace;
    color: #fafcff;
    outline: none;
    border: none;
    position: fixed;
    top: 102%;
    left: 50%;
    transform: translate(-102%, -50%);
    padding: 6px 10px;
    font-size: 17px;
    border-radius: 45px;
    box-shadow: -5px -5px 7px #1e212488,
                5px 5px 7px #424549;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.search-container {
    padding: 10px;
    border-radius: 20px;
}
  
.search-container input[type=text] {
    color: #fafcff;
    background: #36393e;
    outline: none;
    border: none;
    padding: 6px 10px;
    font-size: 17px;
    border-radius: 45px;
    box-shadow: -5px -5px 7px #1e212488,
                5px 5px 7px #424549;
    transition: all 0.3s ease 0s;
}
  
.search-container input[type=text]:hover {
    color: #4086f4;
    box-shadow: none;
}
  
.search-container button {
    color: #fafcff;
    background: #36393e;
    outline: none;
    border: none;
    padding: 6px 10px;
    font-size: 17px;
    border-radius: 45px;
    box-shadow: -5px -5px 7px #1e212488,
                5px 5px 7px #424549;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
  
.search-container button:hover {
    color: #4086f4;
    box-shadow: none;
}